<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/my-app.html">

<dom-module id="gestor-usuarios">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
        padding: 10px;
      }
      .espsuperior{
        margin-top: 20px;
      }
      .espderecho{
        margin-right: 10px;
      }
      .btnsuperior{
        margin-top: 30px;
      }
          /* The Modal (background) */
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: #474e5d;
        padding-top: 50px;
      }
    </style>
    <div class="container">

      <div class="row col-lg-12" hidden$={{!nuevousuario}}>
        <h1 class="col-lg-12">Bienvenid@</h1>
        <h4 class="col-lg-12">Complete su información</h4>
        Email:<input class="col-sm-06 espderecho" type="email" value="{{email::input}}" required/>
        <div class="row col-lg-12 espsuperior">
          Nombre :<input class="col-sm-06 espderecho" type="text" value="{{nombre::input}}" required/>
          Apellidos :<input class="col-sm-06 espderecho" type="text" value="{{apellido::input}}" required/>
        </div>
        <div class="row col-lg-06 espsuperior">
          Password: <input class="col-lg-06" type="password" value="{{password::input}}" required/>
          Confirma password: <input class="col-lg-06" type="password" value="{{password1::input}}" required/>
        </div>
        <div class="row col-lg-12">
        </div>
        <div class= "row btnsuperior">
          <button on-click="validaUsuario" class="btn btn-primary btn-sm espderecho" >Agregar usuario</button>
          <button on-click="salir" class="btn btn-primary btn-sm" >Regresar</button>
        </div>
      </div>
      <div class="row" hidden$={{!correcto}}>
        <my-app col-xl-12 class="my-app" nombre ={{nombre}} idcliente ={{idcliente}}></my-app>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorUsuarios extends Polymer.Element {
      static get is() { return 'gestor-usuarios'; }
      static get properties() {
        return {
          cuenta : {
            type: String
          },
          idcliente : {
            type : Number
          },
          nombre : {
            type : String
          },
          apellido : {
            type : String
          },
          userid : {
            type : String
          },
          password : {
            type : String
          },
          password1 : {
            type : String
          },
          logado:{
            type: Boolean,
            notify:true
          },
          correcto:{
            type: Boolean,
            value: false
          },
          nuevousuario:{
            type: Boolean,
            value: false,
            notify : true
          },
          vercuentas:{
            type: Boolean,
            value: false
          },
          respuesta: {
          type: Array,
          notify:true
          }
        };
      }

      validaUsuario(){
        var userid = this.email.split("@",1);
        console.log("logado :");
        console.log(this.logado);
        this.userid = userid[0];
        var usuarioData = {
          "email" : this.email,
          "password" : this.password,
          "nombre" :this.nombre,
          "apellido" :this.apellido,
          "userid": this.userid
        };
        var datosresp = {
          "emailResp" : this.email,
          "passwordResp" : this.password,
          "password1Resp" : this.password1,
          "nombreResp" :this.nombre,
          "apellidoResp" :this.apellido,
          "useridResp": this.userid
        };
        console.log("userid");
        console.log(this.userid);
        console.log("datos envío");
        console.log(usuarioData);
        var datosresp = usuarioData;
        console.log("datos respaldo");
        console.log(datosresp);

        if (this.password == this.password1){
            var request = new XMLHttpRequest();
            request.open("POST","http://localhost:3000/v1/Usuarios", false);

            request.setRequestHeader("Accept","application/json");
            request.setRequestHeader("Content-Type", "application/json");
            request.setRequestHeader("usuarioData", usuarioData);
            /*request.setRequestHeader("password", this.password);*/

            var body = JSON.stringify(usuarioData);
            request.send(body);
            if (request.status == 200) {
                console.log("respuesta ");
                console.log(request.response);
                this.respuesta = JSON.parse(request.response);
                console.log("respuesta json : ");
                console.log(this.respuesta);
                this.logado = true;
                this.correcto = true;
                this.nuevousuario = false;
                this.idcliente =this.respuesta.idcliente;
                console.log(this.idcliente);
              } else {
                console.log("Loggin incorrecto "+request.status);
                this.logado = false;
                this.correcto = false;
              }
            } else {
              console.log("password diferente")
            }
      }
      registraUsuario(){
          var usuarioData = {
            "email" : this.email,
            "password" : this.password,
            "nombre" :this.nombre,
            "apellido" :this.apellido,
            "userid": this.userid
          };email
          var request = new XMLHttpRequest();
          request.open("POST","http://localhost:3000/v1/Usuarios", false);

          request.setRequestHeader("Accept","application/json");
          request.setRequestHeader("Content-Type", "application/json");
          request.setRequestHeader("usuarioData", this.usuarioData);
          /*request.setRequestHeader("password", this.password);*/

          var body = JSON.stringify(usuarioData);
          request.send(body);
          if (request.status == 200) {
            this.respuesta = JSON.parse(request.responseText);
            this.logado = true;
            this.nuevousuario = false;
            this.nombre =this.respuesta[0].nombre;
            this.idcliente =this.respuesta[0].idcliente;
          } else {
            console.log("Loggin incorrecto "+request.status);
            this.logado = false;
          }
      }
      salir(){
        console.log("salir  logado nuevo");
        console.log(this.logado);
        console.log(this.nuevousuario);
        console.log("this  logado nuevo ");
        this.nuevousuario = false;
        this.logado = false;
        console.log(this.logado);
        console.log(this.nuevousuario);
        console.log("salir  despues");

      }
      _togglePage(){
        console.log("toggle "+this.nuevousuario);
        this.nuevousuario = this.nuevousuario;
      }
    }
    window.customElements.define(GestorUsuarios.is, GestorUsuarios);
  </script>
</dom-module>
