<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
        padding: 10px;
      }
    </style>
<div class="container">
  <div class="row">
    <h1 class="col-lg-12">Bienvenido {{nombre}}</h1>
    <h2 class="col-lg-12">Mis movimientos</h2>
    <button on-click="obtenerClientes" class="btn btn-success" >Obtener Clientes</button>
    <button on-click="agregarClientes" class="btn btn-danger" >Agregar Clientes</button>

  </div>
    <div class="row">
      <table class="table-striped col-lg-12">
        <tbody>
          <template is="dom-repeat" items="{{clientes.listado}}">
            <tr>
              <td>
                [[item.fecha]]
              </td>
              <td>
                [[item.importe]]
              </td>
              <td>
                [[item.categoria]]
              </td>
            </tr>

          </template>
        </tbody>
      </table>
    </div>
  </div>
</div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          listado : {
            type: Array,
            notify:true
/*            value: 'gestor-clientes'*/
          },
          nombre : {
            type: String
          }
        };
      }

      obtenerClientes0(){
        var request = new XMLHttpRequest();
        request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        this.clientes = JSON.parse(request.responseText).value;
  /*--      console.table(this.clientes); */
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
        request.open("GET","http://localhost:3000/v2/Clientes", false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText)
        console.table(this.clientes);
      }
      agregarClientes0(){
        var request = new XMLHttpRequest();
        request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.setRequestHeader("Accept","application/json");
        var nuevoCliente = {"CustomerID":"12345","ContactName":"Pepe","CompanyName": "Pepe bar"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }
      agregarClientes(){
        var request = new XMLHttpRequest();
        request.open("POST","http://localhost:3002/v1/Clientes", false);
        request.setRequestHeader("Accept","application/json");
        var nuevoCliente = {"idcliente":2031,"nombre":"Pepe","apellido": "Bares"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
      /*  console.log(this.respuesta); */
      }
    /*  ready() {
      super.ready();
      console.log('yeahhh este evento se asocia al componente completo');
    }
    */
    }


    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
