<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-cuentas">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
        padding: 10px;
      }
      .espsuperior{
        margin-top: 40px;
      }
      .espderecho{
        margin-right: 10px;
      }
    </style>
<div class="container">
  <div class="row">
    <h1 class="col-lg-12">Bienvenido {{nombre}}</h1>
    <h2 class="col-lg-12">Mis cuentas</h2>
  </div>
    <div class="row">
      <table class="table-striped col-lg-12">
        <tbody>
          <template is="dom-repeat" items="{{respuesta}}">

            <tr>
              <td>
                [[item.idcuenta]]
              </td>
              <td>
                [[item.alias]]
              </td>
              <td>
                <button on-click="consultaMovimientos" class="btn btn-primary btn-sm" >Ver Movs</button>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
      <div class= "row espsuperior">
        <button on-click="obtenerCuentas" class="btn btn-primary btn-sm espderecho" >Obtener cuentas</button>
        <button on-click="agregarCuentas" class="btn btn-primary btn-sm espderecho" >Agregar cuentas</button>
        <button on-click="salir" class="btn btn-primary btn-sm" >Regresar</button>
      </div>
    </div>
  </div>
</div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorCuentas extends Polymer.Element {
      static get is() { return 'gestor-cuentas'; }
      static get properties() {
        return {
          listado : {
            type: Array,
            notify:true
          },
          cuenta : {
            type: String
          },
          idcliente : {
            type : Number
          },
          nombre : {
            type : String
          },
          alias : {
            type : String
          },
          respuesta: {
          type: Array,
          notify:true
          }
        };
      }

      obtenerCuentas(){
        var request = new XMLHttpRequest();
        var clienteDate = {
          "idcliente" : this.idcliente
        };
        var body = JSON.stringify(clienteDate);
        console.log("obtener Cuentas");
        console.log(body);
        request.open("POST","http://localhost:3000/v1/Cuentas", false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.send(body);
        console.log(request);
        this.respuesta = JSON.parse(request.response);

      }
      agregarCuentas(){
        var request = new XMLHttpRequest();
        request.open("POST","http://localhost:3002/v1/cuentas", false);
        request.setRequestHeader("Accept","application/json");
        var nuevoCliente = {"idcliente":2031,"nombre":"Pepe","apellido": "Bares"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
      /*  console.log(this.respuesta); */
      }
      consultaMovimientos(event){
        var model = event.model;

        console.log("model :");
        console.log(model.item);
        console.log("Consulta movimientos cuenta: ");

      }

  /*    ready() {
      super.ready();
      obtenerCuentas()
      console.log('yeahhh este evento se asocia al componente completo');
    } */

    }
    window.customElements.define(GestorCuentas.is, GestorCuentas);
  </script>
</dom-module>
