<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/src/gestor-usuarios/gestor-usuarios.html" />
<link rel="import" href="/src/login-app/login-app.html">
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>

Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
        padding: 10px;
      }
      .espsuperior{
        margin-top: 120px;
      }
      .espderecho{
        margin-right: 20px;
      }
      .btnsuperior{
        margin-top: 30px;
      }
    </style>
    <div class="container">
      <div class="row espsuperior" hidden$={{logado}}>
        <div>
          <h1 class="col-lg-12">Acceso al sistema</h1>
        </div>
        <div class="row col-lg-12">
          Email:<input class="col-sm-06 espderecho" type="email" value="{{email::input}}"/>
          Password: <input class="col-lg-06" type="password" value="{{password::input}}"/>
        </div>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" hidden$={{!errologin}}>
          <strong>Holy guacamole!</strong> You should check in on some of those fields below.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row btnsuperior">
          <button  on-click="login" class="btn btn-primary espderecho" >Ingresar</button>
          <button  on-click="registraUsuario" class="btn btn-primary">Nuevo Usuario</button>
        </div>
      </div>
      <template is="dom-if" if="{{logado}}">
            <gestor-usuarios col-xl-12 class="gestor-usuarios" logado={{logado}} nuevousuario={{nuevousuario}}></gestor-usuarios>
        </template>
      <div class="row" hidden$={{nuevousuario}}>

      </div>
      <div class="row" hidden$={{!vercuentas}}>
        <!--gestor-clientes col-xl-12 class="gestor-clientes" nombre={{nombre}}></gestor-clientes> -->
        <!--gestor-cuentas col-xl-12 class="gestor-cuentas" nombre ={{nombre}} idcliente ={{idcliente}}></gestor-cuentas> -->
        <!--gestor-cuentas col-xl-12 class="gestor-cuentas" nombre ={{nombre}} idcliente ={{idcliente}}></gestor-cuentas-->
        <my-app col-xl-12 class="my-app" nombre ={{nombre}} idcliente ={{idcliente}} idcuenta ={{idcuenta}}
        fechaudi ={{fechaudi}} valorudi ={{valorudi}}></my-app>
      </div>
    </div>
  </template>



  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password:{
            type: String
          },
          logado:{
            type: Boolean,
            value: false,
            notify:true
          },
          nombre:{
            type: String
          },
          idcuenta:{
            type: Number
          },
          vercuentas: {
            type : Boolean,
            value: false
          },
          nuevousuario: {
            type : Boolean,
            value: false,
            notify: true
          },
          idcliente:{
            type: Number
          },
          vermovimentos: {
            type : Boolean,
            value: false
          },
          respuesta: {
          type: Array,
          notify:true
          }
        };
      }

      login(){
        var loginData = {
          "email" : this.email,
          "password" :  this.password
        };

        var request = new XMLHttpRequest();
        request.open("POST","http://localhost:3000/v2/Login", false);

        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.setRequestHeader("email", this.email);
        request.setRequestHeader("password", this.password);

        var body = JSON.stringify(loginData);
        request.send(body);
        if (request.status == 200) {
          this.respuesta = JSON.parse(request.responseText);
          this.logado = false;
          this.logado = true;
          this.vercuentas = true;
          this.nombre =this.respuesta[0].nombre;
          this.idcliente =this.respuesta[0].idcliente;
        } else {
          console.log("Loggin incorrecto "+request.status);
          alert-warning
        }

      }

      registraUsuario(){
        this.nuevousuario = true;
        this.logado = true;
        console.log("registra usuario" + this.nuevousuario);
        consultaBanxico();
      }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
