<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-movimientos">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
        padding: 10px;
      }
      .espsuperior{
        margin-top: 40px;
      }
      .espderecho{
        margin-right: 10px;
      }
    </style>
<div class="container">
  <div class="row espsuperior">
  </div>
  <div class="row espsuperior">
    <h7 class="col-lg-12">Complete su información</h7>
     Fecha: <input type="date" value="{{fecha::input}}"/>
     <input type='number' step='0.01' value="{{importe::input}}" placeholder='0.00'/>
     <input type="radio" name={{categoria::input}} value="DEPOSITO"> Depósito
     <input type="radio" name={{categoria::input}} value="RETIRO"> Retiro
     <button on-click="registrarMovimiento" class="btn btn-primary btn-sm" >Agregar movimiento</button>
     <!--button on-click="limpiar" class="btn btn-primary btn-sm" >Limpiar</button-->
   </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorMovimientos extends Polymer.Element {
      static get is() { return 'gestor-movimientos'; }
      static get properties() {
        return {
          listado : {
            type: Array,
            notify:true
          },
          cuenta : {
            type: String
          },
          idcliente : {
            type : Number
          },
          nombre : {
            type : String
          },
          alias : {
            type : String
          },
          altamovimiento :{
            type :Boolean,
            value : false
          },
          fecha :{
            type : Date
          },
          importe :{
            type :Number
          },
          categoria :{
            type :String
          },
          respuesta: {
          type: Array,
          notify:true
          }
        };
      }

      obtenerMovimientos(){
        var request = new XMLHttpRequest();
        var cuentaDate = {
        /*  "idcuenta" : this.idcuenta */
        "idcuenta" : "1101002801",
        "idcliente" : this.idcliente
        };
        var body = JSON.stringify(cuentaDate);
        console.log("obtener Movimientos");
        console.log(body);
        request.open("POST","http://localhost:3000/v1/Movimientos", false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.send(body);
        /*console.log(request);*/
        this.respuesta = JSON.parse(request.response);
        console.log(this.respuesta)
        this.listado = this.respuesta[0].listado;

        this.alias = this.respuesta[0].alias;
        console.log(this.listado)

      }
      obtenerListado(){
        this.listado = this.respuesta[0].listado;

        this.alias = this.respuesta[0].alias;
        console.log(this.listado)

      }
      agregarMovimientos(){
        this.altamovimiento = true
      }
      regresa(){
        this.altamovimiento = false
      }
      registrarMovimiento(){
        var request = new XMLHttpRequest();
        var importenum = parseFloat(this.importe)
        var cuentaData = {
        "idcuenta" : "1101002801",
        "listado" :[
          {
            "fecha" : this.fecha,
            "categoria" : this.categoria,
            "importe" : importenum
          }
        ]
        };
        /*console.log("cuenta data : " );
        console.log(cuentaData);*/
        var body = JSON.stringify(cuentaData);
        request.open("PUT","http://localhost:3000/v1/Movimientos", false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type", "application/json");
        /*  "idcuenta" : this.idcuenta */

        request.send(body);
        this.respuesta = JSON.parse(request.response);
        console.log("this.respuesta: ");
        console.log(this.respuesta);
        if (request.status == 200) {
          this.listado.push(cuentaData.listado[0]);
          this.fecha = '',
          this.categoria = '';
          this.importe = '';
          this.altamovimiento = false;
          cuentaData = ""
        }
        else{
          console.log(request.status)
        }
      }
      consultaMovimientos(){
        console.log("Consulta movimientos");
      }
  /*    ready() {
      super.ready();
      obtenerMovimientos()
      console.log('yeahhh este evento se asocia al componente completo');
    } */

    }
    window.customElements.define(GestorMovimientos.is, GestorMovimientos);
  </script>
</dom-module>
