<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<!--script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script-->

<dom-module id="my-consultabanxico">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
        padding: 10px;
      }
      .espsuperior{
        margin-top: 60px;
      }
      .espderecho{
        margin-right: 10px;
      }
    </style>
    <div class="container espsuperior">
      <div class="row espsuperior">
        <h5 class="col-lg-12"></h5>
      </div>
      <div class="row">
        <table class="table-striped col-lg-12">
          <thead>
            <tr>
              <th class="col-lg-08">Indicador</th>
              <th class="col-lg-02">Fecha</th>
              <th class="col-lg-02">Valor</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="row" >
        <table class="table-striped col-lg-12">
          <tbody>
            <template is="dom-repeat" items="{{series}}">
              <tr>
                <td class="col-lg-08">
                  [[item.titulo]]
                </td>
                <td class="col-lg-04">
                  <table class="table-striped col-lg-12">
                    <thead>
                      <tr>

                      </tr>
                    </thead>
                    <tbody>
                      <template is="dom-repeat" items={{item.datos}}>
                        <tr>
                          <td class="wid115px">
                            [[item.fecha]]
                          </td>
                          <td>
                            [[_formatDato(item.dato)]]
                          </td>
                        </tr>
                      </template>
                    </tbody>
                  </table>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
      <div class= "row espsuperior">
        <button on-click="consultaBanxico" class="btn btn-primary btn-sm espderecho" >Consultar</button>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     class MyView3 extends Polymer.Element {
       static get is() { return 'my-consultabanxico'; }
       static get properties() {
         return {
           series: [{
             idSerie: {
               type : String
             },
             titulo : {
               type : String
             },
             datos : [{
               fecha : {
                 type : Date
               },
               dato : {
                 type : Number
               }
             }]
           }],
           datoseries: {
             type: Array,
             notify:true
           },
           respuesta: {
             type: Array,
             notify:true
           }
         };
       }
     consultaBanxico(){
       console.log("entra a consulta bxico");
       var request = new XMLHttpRequest();

       request.open("GET","http://localhost:3000/v1/series", false);

       request.setRequestHeader("Accept","application/json");
       request.setRequestHeader("Content-Type", "application/json");

       //var body = JSON.stringify(loginData);
       request.send();
       if (request.status == 200) {
         this.respuesta = JSON.parse(request.responseText);
         console.log("responseText: " + request.responseText);
         this.series = this.respuesta.bmx.series;
         console.log("series :" + this.series);
         console.log("series.datos " + this.series.datos);
                     } else {
         this.series = '';
       }
     }

     _formatDato(dato){
      return numeral(dato).format('$0,0.000000');
    }

   }
    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>
