<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-movimientos">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 10px;
      }
      .espsuperior{
        margin-top: 60px;
      }
      .espderecho{
        margin-right: 10px;
      }
    </style>
  <div class="container">
    <div class= "row espsuperior" col-lg-12>
      <h7> Mi cuenta {{idcuenta}} {{alias}}</h7>
    </div>
    <div class= "row espsuperior" col-lg-12>
      Fecha <input class="espderecho" type="date" value="{{fecha::input}}"  max = {{maxfecha}} required/>
      Importe <input class="espderecho" type="number" step='0.01' value="{{importe::input}}" placeholder='0,00'required/>
      Tipo <select  class="espderecho"value="{{categoria::input}}">
          <option value="DEPOSITO">Depósito</option>
          <option value="RETIRO">Retiro</option>
          <option value="COMISION">Comisión</option>
          <option value="HONORARIOS">Honorarios</option>
      </select>
    </div>
    <div class= "row espsuperior" col-lg-06>
      <button on-click="registrarMovimiento" class="btn btn-primary btn-sm espderecho" >Agregar movimiento</button>
      <!--button on-click="regresa" class="btn btn-success btn-sm" >Regresar</button-->
    </div>
  </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorMovimientos extends Polymer.Element {
      static get is() { return 'gestor-movimientos'; }
      static get properties() {
        return {
          listado : {
            type: Array,
            notify:true
          },
          idcuenta : {
            type: String
          },
          idcliente : {
            type : Number
          },
          nombre : {
            type : String
          },
          alias : {
            type : String
          },
          altamovimiento :{
            type :Boolean,
            value : false
          },
          fecha :{
            type : Date
          },
          importe :{
            type :Number
          },
          categoria :{
            type :String
          },
          maxfecha :{
            type : Date,
            value : Date
          },
          respuesta: {
          type: Array,
          notify:true
          }
        };
      }

      obtenerMovimientos(){
        var request = new XMLHttpRequest();
        var cuentaDate = {
        "idcuenta" : this.idcuenta,
        //"idcuenta" : "1101002801",
        "idcliente" : this.idcliente
        };
        console.log("idcuenta :" + this.idcuenta);
        var body = JSON.stringify(cuentaDate);
        /*console.log("obtener Movimientos body ");
        console.log(body);*/
        request.open("POST","http://localhost:3000/v1/Movimientos", false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.send(body);
        /*console.log("request");
        console.log(request);()*/
        this.respuesta = JSON.parse(request.responseText);

        this.listado = this.respuesta[0].listado;

        this.alias = this.respuesta[0].alias;
      }
      agregarMovimientos(){
        this.altamovimiento = true
      }
      regresa(){
        this.altamovimiento = false
      }
      registrarMovimiento(){
        var request = new XMLHttpRequest();
        var importenum = parseFloat(this.importe)
        console.log("idcuenta: " + this.idcuenta);
        var cuentaData = {
        "idcuenta" : this.idcuenta,
        "listado" :[
          {
            "fecha" : this.fecha,
            "categoria" : this.categoria,
            "importe" : importenum
          }
        ]
        };
        var body = JSON.stringify(cuentaData);
        request.open("PUT","http://localhost:3000/v1/Movimientos", false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type", "application/json");
        /*  "idcuenta" : this.idcuenta */

        request.send(body);
        if (request.status == 200) {
        /*this.respuesta = JSON.parse(request.responseText);
        console.log("this.respuesta: ");
        console.log(this.respuesta);

          this.listado.push(cuentaData.listado[0]);*/
          this.fecha = '';
          this.categoria = 'DEPOSITO';
          this.importe = 0;
          this.altamovimiento = false
          //cuentaData = ""
          console.log("DATOS : " + cuentaData);
        }
        else{
          console.log(request.status)
        }
      }
      consultaMovimientos(){
        console.log("Consulta movimientos");
      }
  /*    ready() {
      super.ready();
      obtenerMovimientos()
      console.log('yeahhh este evento se asocia al componente completo');
    } */

    }
    window.customElements.define(GestorMovimientos.is, GestorMovimientos);
  </script>
</dom-module>
