<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-cuentas">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
        padding: 10px;
      }
      .espsuperior{
        margin-top: 60px;
      }
      .espderecho{
        margin-right: 10px;
      }
    </style>
    <div class="container espsuperior">
      <div class="row espsuperior">
        <h5 class="col-lg-12">Bienvenido {{nombre}}</h5>
      </div>
      <div class="row" hidden$={{vermovimientos}}>
        <table class="table-striped col-lg-12">
          <thead>
            <tr>
              <th>Cuenta </th>
              <th>Alias</th>
            </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{respuesta}}">
              <tr>
                <td>
                    [[item.idcuenta]]
                </td>
                <td>
                  [[item.alias]]
                </td>
                <td>
                  <button on-click="consultaMovimientos" class="btn btn-primary btn-sm" >Ver Movs</button>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
        <div class= "row espsuperior">
          <button on-click="obtenerCuentas" class="btn btn-primary btn-sm espderecho" >Obtener cuentas</button>
          <!--button on-click="agregarCuentas" class="btn btn-primary btn-sm espderecho" >Agregar cuentas</button>
          <button on-click="salir" class="btn btn-primary btn-sm" >Regresar</button-->
        </div>
      </div>
      <div class="row" hidden$={{!vermovimientos}}>
        <div>
          <h6 class="col-lg-12">Cuenta  {{idcuenta}}  {{alias}}</h6>
        </div>
        <table class="table-striped col-lg-12">
          <thead>
            <tr>
              <th>Fecha  </th>
              <th>Importe</th>
              <th>Tipo movimiento</th>
            </tr>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{listado}}">
              <tr>
                <td class="wid115px">
                  [[item.fecha]]
                </td>
                <td>
                  [[_formatDato(item.importe)]]
                </td>
                <td>
                  [[item.categoria]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
        <div class= "row espsuperior">
          <button on-click="obtenerCuentas" class="btn btn-primary btn-sm espderecho" >Obtener cuentas</button>
          <!--button on-click="agregarCuentas" class="btn btn-primary btn-sm espderecho" >Agregar cuentas</button>
          <button on-click="regresar" class="btn btn-primary btn-sm" >Regresar</button-->
        </div>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorCuentas extends Polymer.Element {
      static get is() { return 'gestor-cuentas'; }
      static get properties() {
        return {
          listado : {
            type: Array,
            notify:true
          },
          idcuenta : {
            type: String,
            notify:true
          },
          idcliente : {
            type : Number
          },
          nombre : {
            type : String
          },
          alias : {
            type : String,
            notify:true
          },
          vermovimientos : {
            type : Boolean,
            value : false
          },
          respuesta: {
          type: Array,
          notify:true
          }
        };
      }

      obtenerCuentas(){
        var request = new XMLHttpRequest();
        var clienteDate = {
          "idcliente" : this.idcliente
        };
        this.vermovimientos = false
        var body = JSON.stringify(clienteDate);
        console.log("obtener Cuentas");
        console.log(body);
        request.open("POST","http://localhost:3000/v1/Cuentas", false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type", "application/json");
        request.send(body);
        console.log(request);
        this.respuesta = JSON.parse(request.response);

      }
      agregarCuentas(){
        var request = new XMLHttpRequest();
        request.open("POST","http://localhost:3002/v1/cuentas", false);
        request.setRequestHeader("Accept","application/json");
        var nuevoCliente = {"idcliente":2031,"nombre":"Pepe","apellido": "Bares"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
      /*  console.log(this.respuesta); */
      }
      consultaMovimientos(event){
        var model = event.model;
        this.listado = model.item.listado;
        this.alias = model.item.alias;
        this.idcuenta = model.item.idcuenta;
        this.vermovimientos = true;
        console.log("model :");
        console.log(this.listado);
        console.log("idcuenta : " + this.idcuenta)
        console.log("alias : " + this.alias)
      }
      regresar(){
        this.vermovimientos = false
      }

      _formatDato(dato){
       return numeral(dato).format('$0,0.00');
     }
  /*    ready() {
      super.ready();
      obtenerCuentas()
      console.log('yeahhh este evento se asocia al componente completo');
    } */
    }
    window.customElements.define(GestorCuentas.is, GestorCuentas);
  </script>
</dom-module>
