<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-consultabanxico">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">3</div>
      <h1>Indicadores</h1>
      <p>Muestra indicadores financieros del Banco de México al día de hoy</p>
      <div class="row">
        <button on-click="consultaBanxico" class="btn btn-primary btn-sm">Consultar</button>
      </div>
      <table class="table-striped col-lg-04">
        <tbody>
          <template is="dom-repeat" items="{{series}}">
            <tr>
              <td>
                [[item.titulo]]
              </td>
              <td>
                <table class="table-striped col-lg-08">
                  <tbody>
                    <template is="dom-repeat" items={{item.datos}}>
                      <tr>
                        <td>
                          [[item.fecha]]
                        </td>
                        <td>
                          [[item.dato]]
                        </td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </td>
            </tr>
          </template>
        </tbody>
      </table>

    </div>
  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-consultabanxico'; }
      static get properties() {
        return {
          series: [{
            idSerie: {
              type : String
            },
            titulo : {
              type : String
            },
            datos : [{
              fecha : {
                type : Date
              },
              dato : {
                type : Number
              }
            }]
          }],
          datoseries: {
            type: Array,
            notify:true
          },
          respuesta: {
            type: Array,
            notify:true
          }
        };
      }
    consultaBanxico(){
      console.log("entra a consulta bxico");
      var request = new XMLHttpRequest();

      request.open("GET","http://localhost:3000/v1/series", false);

      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-Type", "application/json");

      //var body = JSON.stringify(loginData);
      request.send();
      if (request.status == 200) {
        this.respuesta = JSON.parse(request.responseText);
        console.log("responseText: " + request.responseText);
        this.series = this.respuesta.bmx.series;
        console.log("series :" + this.series);
        console.log("series.datos " + this.series.datos);
                    } else {
        this.series = '';
      }
    }

  }
    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>
